div{
    width: 1300px;
    height: 100px;
    background-color: rgb(96, 128, 128);
    margin-top: 3%;
}


img {
    margin-left: 38%;
    width: 280px;
    height: auto;
    margin-top: 10%;
}